* {
    box-sizing: border-box;
    padding: 0;
}

body {
    font-family: verdana;
    background-color: #FAF8D4;
    text-align: center;
}

.heading {
    margin-bottom: 2rem;
}

#hero-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#hero-list > li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem;
}

li > * {
    padding: .5rem;
}

#warning {
    color: red;
}

form {
    background-color: #D7EBBA;
    width: 100%;
    text-align: center;
    padding: 2rem 0rem
}

form > * {
    width: 33%;
    margin: .25rem;
    padding: .25rem;
}

.selected {
    border: 1px dotted black;
}

.tooltip {
    position: relative;
    display: inline-block;
  }
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    border: 1px solid black;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    background-color: cornSilk;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    background-color: cornSilk;
}

.tooltip > b {
    color: blue;
    text-decoration: underline;
}

.tooltip > b:hover {
    color: red;
    text-decoration: none;
}

.game-text p {
    color: black;
    font-family: monospace;
    overflow: hidden;
    white-space: nowrap; 
    margin: 0 auto;
    letter-spacing: .15em;
    animation: 
      typing 5s steps(30, end),
      blink-caret .5s step-end infinite;
  }


/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* The typewriter cursor effect */
    @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
}

.css-typing p {
    border-right: .15em solid orange;
    font-family: "Courier";
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
}
.css-typing p:nth-child(1) {
    width: 60rem;
    -webkit-animation: type 2s steps(50, end);
    animation: type 10s steps(80, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
  
.css-typing p:nth-child(2) {
    width: 70rem;
    opacity: 0;
    -webkit-animation: type2 2s steps(40, end);
    animation: type2 10s steps(80, end);
    -webkit-animation-delay: 2s;
    animation-delay: 10s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
  
.css-typing p:nth-child(3) {
    width: 10rem;
    opacity: 0;
    -webkit-animation: type3 2s steps(20, end);
    animation: type3 10s steps(20, end), blink .5s step-end infinite alternate;
    -webkit-animation-delay: 4s;
    animation-delay: 20s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes type {
    0% {
        width: 0;
    }
    99.9% {
        border-right: .15em solid orange;
    }
    100% {
        border: none;
    }
}

@-webkit-keyframes type {
    0% {
        width: 0;
    }
    99.9% {
        border-right: .15em solid orange;
    }
    100% {
        border: none;
    }
}

@keyframes type2 {
    0% {
        width: 0;
    }
    1% {
        opacity: 1;
    }
    99.9% {
        border-right: .15em solid orange;
    }
    100% {
        opacity: 1;
        border: none;
    }
}

@-webkit-keyframes type2 {
    0% {
        width: 0;
    }
    1% {
        opacity: 1;
    }
    99.9% {
        border-right: .15em solid orange;
    }
    100% {
        opacity: 1;
        border: none;
    }
}

@keyframes type3 {
    0% {
        width: 0;
    }
    1% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes type3 {
    0% {
        width: 0;
    }
    1% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}
@-webkit-keyframes blink {
    50% {
        border-color: tranparent;
    }
} 