* {
    box-sizing: border-box;
    padding: 0;
}

body {
    font-family: verdana;
    background-color: #FAF8D4;
    text-align: center;
}

body p {
    font-family: monospace;
    font-size: 16;
}

.heading {
    margin-bottom: 2rem;
}

#hero-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#hero-list > li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem;
    margin-bottom: 2rem;
}

li > * {
    padding: .5rem;
}

#warning {
    color: red;
}

form {
    background-color: #D7EBBA;
    width: 100%;
    text-align: center;
    padding: 2rem 0rem
}

form > * {
    width: 33%;
    margin: .25rem;
    padding: .25rem;
}

.selected {
    border: 1px dotted peachpuff;
    border-radius: 10px;
    background-color: peachpuff;
}

.tooltip {
    position: relative;
    display: inline-block;
  }
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    border: 1px solid black;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    background-color: cornSilk;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    background-color: cornSilk;
}

.tooltip > b {
    color: blue;
    text-decoration: underline;
}

.tooltip > b:hover {
    color: red;
    text-decoration: none;
}

.game-text p {
    color: black;
    font-family: monospace;
    font-size: 16;
    overflow: hidden;
    white-space: nowrap; 
    margin: 0 auto;
    letter-spacing: .15em;
    animation: 
      typing 5s steps(30, end),
      blink-caret .5s step-end infinite;
  }


/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* The typewriter cursor effect */
    @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
}